.DatePicker {
	&:is(:focus-within, [data-state='open']) {
		> .DatePicker_InputField {
			border: 2px solid var(--color-primary);
			outline-style: none;
		}
	}
}

.DatePicker_InputField {
	min-height: var(--spacing-container-lg);
	cursor: pointer;
	border: 1px solid var(--color-outline);
	border-radius: var(--radius-sm);
	width: 100%;
	padding-inline: 16px;
	padding-block: 8px;
	align-items: center;
	display: flex;
	color: var(--color-on-background);

	> .Field_TrailingIcon {
		margin-left: auto;
	}

	&[data-placeholder-shown] {
		color: var(--color-outline);
	}

	&[data-status='error'] {
		border-color: var(--color-error);
	}
	&[data-status='warning'] {
		border-color: var(--color-warning);
	}
	&[data-status='success'] {
		border-color: var(--color-success);
	}
}
