.ScrollAreaRoot {
	@apply relative overflow-hidden;
}

.ScrollAreaViewport {
	@apply h-full w-full;
}

.ScrollAreaScrollbar {
	@apply rounded-max bg-surface-container-low flex touch-none opacity-85 select-none;

	&[data-orientation='horizontal'] {
		height: var(--scrollbar-size);
		&:hover {
			height: var(--scrollbar-hovered-size);
		}
	}

	&[data-orientation='vertical'] {
		width: var(--scrollbar-size);
		flex-direction: column;
		&:hover {
			width: var(--scrollbar-hovered-size);
		}
	}
}

.ScrollAreaThumb {
	@apply bg-on-surface-variant rounded-max;
}
