.Select_Field {
	height: var(--spacing-container-lg);
	cursor: pointer;
	border: 1px solid var(--color-outline);
	border-radius: var(--radius-sm);
	width: 100%;
	padding-inline: 16px;
	padding-block: 8px;
	caret-color: #0000;
	align-items: center;
	display: flex;
}
.Select_Field > .Select_Value {
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.Select_Field[data-placeholder] {
	color: var(--color-outline);
}
.Select_Field:is(:focus, [data-state='open']) {
	border: 2px solid var(--color-primary);
	outline-style: none;
}
.Select_Field[data-status='error'] {
	border-color: var(--color-error);
}
.Select_Field[data-status='warning'] {
	border-color: var(--color-warning);
}
.Select_Field[data-status='success'] {
	border-color: var(--color-success);
}
.Menu.SelectContent {
	min-width: var(--radix-select-trigger-width);
	max-height: 50dvh;
}
.SelectItem[data-state='checked'] {
	background-color: var(--color-primary-container);
	color: var(--color-on-primary-container);
}
.SelectItem[data-state='checked'] > .MenuItem_TrailingIcon {
	color: var(--color-primary);
}
