.Select_InputField {
	min-height: var(--spacing-container-lg);
	cursor: pointer;
	width: 100%;
	caret-color: #0000;

	& > .Select_Value {
		text-wrap: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	& > .FormField_TrailingIcon {
		display: flex;
		align-items: center;
		color: var(--color-outline);

		.Select_ClearButton {
			cursor: pointer;
		}

		&:has(.Select_ClearButton:not([hidden])) {
			> .Select_ToggleIcon {
				display: none;
			}
		}
	}

	&[data-placeholder-shown] {
		color: var(--color-outline);
	}

	&:is(:focus, [data-state='open']) {
		border: 2px solid var(--color-focused);
		outline-style: none;
	}
}

.Menu.SelectContent {
	min-width: var(--reference-width);
	max-height: 50dvh;
	overflow: auto;
}
