.TextInput_Input {
	width: 100%;
	height: 100%;
	caret-color: var(--color-primary);
	&:focus {
		outline-style: none;
	}
}

.TextInput_InputField[data-clearable='true'] > .TextInput_Input {
	padding-right: 8px;
}
