.NavigationBar {
	border: 1px solid var(--color-outline-variant);
	width: 250px;
	color: var(--color-on-surface);
}

.NavigationBar_Content {
	gap: 8px;
	padding: 8px;
	caret-color: #0000;
	flex-direction: column;
	display: flex;
}

.NavigationBar_Content > .NavigationItem {
	cursor: pointer;
	border-radius: var(--radius-sm);
	width: 100%;
	padding: 8px;
}

.NavigationBar_Content > .NavigationItem:hover {
	background-color: var(--color-surface-container-low);
}

.NavigationGroupList {
	flex-direction: column;
	width: 100%;
	display: flex;
}
.NavigationGroupList > .NavigationItem {
	cursor: pointer;
	width: 100%;
}
.NavigationGroupList a {
	display: block;
	border-top-right-radius: var(--radius-sm);
	border-bottom-right-radius: var(--radius-sm);
	border-left-style: solid;
	border-left-width: 1px;
	border-color: var(--color-outline-variant);
	padding-block: 4px;
	padding-left: 16px;
}

.NavigationGroupList a[aria-current='page'] {
	border-color: var(--color-primary);
	color: var(--color-primary);
}

.NavigationGroupList a:hover {
	background-color: var(--color-surface-container-low);
}

.NavigationGroupList a:hover[aria-current='page'] {
	background-color: var(--color-primary-container);
}

.NavigationGroup > .CollapsibleTrigger {
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: var(--radius-sm);
	width: 100%;
	padding: 8px;
	font-weight: 500;
}

.NavigationGroup > .CollapsibleTrigger:hover {
	background-color: var(--color-surface-container-low);
}
